.userImg {
	width: 30px;
	border-radius: 50%;
}

.commentTitle {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 20px;
}

.commentTitle img {
	margin-right: 20px;
}

.commentDiv img {
	display: flex;
	width: 30px;
}